<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>PLANILLA</title>
</head>
<body>
	<h1>Registrar planilla</h1>
	<form action="" method="POST">
		{% csrf_token %}
		<div>
			<label for="idTrabajador">ID de trabajador:</label>
			<input type="text" name="idTrabajador">
		</div>
		<div>
			<label for="apellidos">Apellidos:</label>
			<input type="text" name="apellidos">
		</div>
		<div>
			<label for="nombres">Nombres:</label>
			<input type="text" name="nombres">
		</div>
		<div>
			<label for="direccion">Direccion:</label>
			<input type="text" name="direccion">
		</div>
		<div>
			<label for="estado">Estado:</label>
			<input type="checkbox" name="estado"> Activo
		</div>

		<button type="submit">REGISTRAR</button>
	</form>

	<a href="/">Volver al listado</a>
</body>
</html>