<!DOCTYPE html>
<html lang="es">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="recursos/imagenes/logo_industrial.png" type="image/x-icon" >
	<title>PLANILLA</title>
	<script src="recursos/js/jquery.js" type="text/javascript"></script>
	<script src="recursos/js/bootstrap.min.js" type="text/javascript"></script>
	<link href="recursos/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="recursos/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="recursos/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>
<body style="background-color:#e1db47;">
	<div class="container-fluid">
    	<div class="row" style="margin-top:100px;">
        	<div class="col-md-4"></div>
            	<div class="col-md-4">

	<div class="panel panel-primary" align="center">
		<div class="panel-heading text-center">
	    	<h2><i class="fa fa-book"></i><font color="red">Registrar Planilla: </font></h2>
	    </div>
		
		<div class="panel-body">
			<form id="form1" role="form" action="" method="POST">
			{% csrf_token %}
			<div style="margin-top:20px;" class="input-group">
				<label for="idTrabajador">ID de trabajador:</label>
				<input type="text" name="idTrabajador" placeholder="idTrabajador" class="form-control">
			</div>
			<div style="margin-top:20px;" class="input-group">
				<label for="apellidos">Apellidos:</label>
				<input type="text" name="apellidos" placeholder="apellidos" class="form-control">
			</div >
			<div style="margin-top:20px;" class="input-group">
				<label for="nombres">Nombres:</label>
				<input type="text" name="nombres" placeholder="nombres" class="form-control">
			</div>
			<div style="margin-top:20px;" class="input-group">
				<label for="direccion">Direccion:</label>
				<input type="text" name="direccion" placeholder="direccion" class="form-control">
			</div> 
			<div style="margin-top:20px;" class="input-group">
				<label for="estado">Estado:</label>
				<input type="checkbox" name="estado"> Activo
			</div>
			
			<div style="margin-top:20px;" class="form-group" align="center">
				<div class="col-md-12">
					<button class="btn btn-success" type="submit">REGISTRAR</button>
				</div>
			</div>
		</form>
		</div>
	</div>

	            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

	<br>
	
	<div align="center">
		<a href="/"><font color="black"><h3>Volver al Listado</h3></font></a>
	</div>

<script>
	
</script>

</body>
</html>